#header_logo img{
    margin-top: 50px;
    margin-left: -19px;
    border-radius: 10px;
    border-color: red;
}

#_desktop_logo{
    text-align: center;
    margin-bottom: 20px;
}

#desktop_logo a{
    display: inline-block;
}

.col-md-6{
    width: inherit;
    float: left;
}

.col-md-2, .col-md-10{
    width:auto;
    height:10%;
}

#order-items .col-md-6 {
   margin-right: 360px;
}

.col-md-2 {
   float: left;
}

#header .header-top .position-static {
    position:absolute;
    margin-top: 2%;
   }

#header .logo {
    max-width:100%;
    height:100px;
    width: 100px;
}
   
#search_widget form input {
    width: 100%;
    padding: 10px 20px 10px 40px;
    outline: none;
    background-color: white;
    /*! border: none; */
    border-radius: 5px;
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}

#search_widget {
    margin-right: -20%;
    margin-top: 1%;
}

#header {
    position:relative;
    z-index:999;
    color:#7a7a7a;
    background:#fff;
    box-shadow:none;
}

#wrapper {
    padding-top:1.563rem;
    background:white;
}

#subcategories {
    display: none;
}

.col   
.card card-block {
    display: none;
}

#content-wrapper .products-selection .sort-by{
    width: auto;
}

.product-information{
    width: 500px;
}

.card-block.checkout .btn-primary {
    width:110%;
   }

#main .page-content {
    margin-bottom:1.563rem;
    width: 110%;
}
   